.status-not-started {
    @apply bg-orange-200;
}
.status-in-progress {
    @apply bg-indigo-200;
}
.status-completed {
    @apply bg-green-200;
}
.modal {
    transition: opacity 0.25s ease;
}
.body.modal-active {
    overflow-x: hidden;
    overflow-y: visible !important;
}
.flash-success {
    @apply bg-green-500
}
.flash-error {
    @apply bg-red-500
}
.td-row {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
