<template>
    <div class="pointer-events-none fixed w-full h-full top-0 left-0 flex items-center justify-center" v-show="value">
        <div class="modal-overlay absolute w-full h-full bg-gray-900 opacity-50"></div>
        <div class="modal-container bg-white md:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto">
            <div class="modal-content">
                <div class="max-w-sm rounded overflow-hidden shadow-lg">
                    <div class="px-6 py-4">
                        <div class="font-bold text-xl mb-2">Please, confirm deleting.</div>
                        <p class="text-gray-700 text-base">
                            Are you sure to delete this task?
                        </p>
                    </div>
                    <div class="px-6 py-4 flex justify-end">
                        <a @click.prevent="$emit('input', !value)" class="modal-open text-gray-700 font-bold py-1 cursor-pointer px-4 rounded text-sm bg-gray-200 mr-2" href="">Cancel</a>
                        <a @click.prevent="$emit('confirm')" class="modal-open text-white font-bold py-1 cursor-pointer px-4 rounded text-sm bg-red-500 hover:bg-red-700" href="">Yes</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Modal",
        props: ['value']
    }
</script>
