<template>
    <ul class="flex bg-white list-reset border border-grey-light rounded w-auto font-sans" v-if="shouldPaginate">
        <li v-show="prevUrl"><a @click.prevent="currentPage--" aria-label="Previous" class="block hover:text-blue-500 text-gray-700 border-r border-grey-light px-3 py-2" href="#"
                                rel="prev">Previous</a></li>
        <li class="pagination-item" v-for="page in pages">
            <a :aria-label="`Go to page number ${page.name}`" :class="{ 'bg-gray-400': page.name === currentPage }"
               @click.prevent="currentPage = page.name"
               class="block hover:text-blue-500  text-gray-700 border-r border-grey-light px-3 py-2"
               href="#"
               type="button"
            >
                {{ page.name }}
            </a>
        </li>
        <li v-show="nextUrl"><a @click.prevent="currentPage++" aria-label="Next" class="block hover:text-blue-500 text-gray-700 px-3 py-2" href="#" rel="next">Next</a></li>
    </ul>
</template>

<script>
    import urlParameters from '../mixins/url-parameters';

    export default {
        props: ['dataSet'],
        mixins: [urlParameters],
        data() {
            return {
                currentPage: 1,
                lastPage: null,
                firstPage: 1,
                prevUrl: false,
                nextUrl: false
            }
        },
        watch: {
            dataSet() {
                this.currentPage = this.dataSet.current_page
                this.lastPage = this.dataSet.last_page
                this.prevUrl = this.dataSet.prev_page_url
                this.nextUrl = this.dataSet.next_page_url
            },

            currentPage() {
                this.broadcast().updateUrl('page', this.currentPage)
            }
        },

        computed: {
            shouldPaginate() {
                return !!this.prevUrl || !!this.nextUrl
            },
            pages() {
                const range = []

                for (let i = this.firstPage; i <= this.lastPage; i += 1) {
                    range.push({
                        name: i,
                        isDisabled: i === this.currentPage
                    });
                }

                return range
            },
        },
        methods: {
            broadcast() {
                return this.$emit('changed', this.currentPage)
            }
        }
    }
</script>
