<template>
    <div>
        <div class="mx-auto flex justify-between">
            <div class="flex">
                <div class="relative flex" id="search-form">
                    <span class="font-bold py-2 px-3 w-full">Filter by:</span>
                    <select class="block appearance-none px-4 py-2 border border-gray-900 text-gray-700 rounded" id="status" name="status" v-model="selectedFilter">
                        <option value="">All tasks</option>
                        <option
                            v-for="(option, key) in statuses"
                            v-bind:value="key"
                            :selected="key === selectedFilter"
                        >{{ option }}</option>
                    </select>
                    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                        <svg class="fill-current h-4 w-4" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
                        </svg>
                    </div>
                </div>
            </div>
            <a class="font-bold py-2 px-3 text-white rounded bg-teal-500 hover:bg-teal-700" href="/tasks/create">Create task</a>
        </div>
        <div class="bg-white shadow-md rounded my-6">
            <table class="text-left w-full border-collapse">
                <thead>
                <tr>
                    <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Name</th>
                    <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Description</th>
                    <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Status</th>
                    <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Due date</th>
                    <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Assignee</th>
                    <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light text-center">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr :key="task.id" class="hover:bg-grey-lighter" v-for="task in tasks">
                    <td class="td-row py-4 px-6 border-b border-grey-light ">{{ task.title }}</td>
                    <td class="td-row py-4 px-6 border-b border-grey-light">{{ task.description }}</td>
                    <td class="td-row py-4  border-b border-grey-light">
                        <span class="rounded py-1 px-3 text-xs font-bold w-64" :class="`status-${task.status.replace(/_/g, '-')}`">{{ statuses[task.status]  }}</span>
                    </td>
                    <td class="td-row py-4 px-6 border-b border-grey-light">{{ task.FormattedDueDate }}</td>
                    <td class="td-row py-4 px-6 border-b border-grey-light">{{ task.assignee.name }}</td>
                    <td class="py-4 px-6 border-b border-grey-light text-center flex justify-center">
                        <a :href="`/tasks/${task.id}`" class="text-white font-bold py-1 px-3  mr-1 rounded text-xs bg-blue-500 hover:bg-blue-700">View</a>
                        <a :href="`/tasks/${task.id}/edit`" class="text-white font-bold py-1 px-3 mr-1  rounded text-xs bg-green-500 hover:bg-green-700"
                           v-if="authorize('owns', task) || authorize('assign', task)">Edit</a>
                        <a @click.prevent="confirmDeleting(task)" class="modal-open text-white font-bold py-1 cursor-pointer px-3 rounded text-xs bg-red-500 hover:bg-red-700" href=""
                           v-if="authorize('owns', task)">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="flex justify-center mx-auto py-2">
            <paginator :dataSet="dataSet" @changed="fetch">
            </paginator>
        </div>
        <modal @cancel="cancelDeleting" @confirm="deleteTask" v-model="isOpen">
        </modal>
    </div>
</template>

<script>
    import Modal from './Modal.vue';
    import urlParameters from '../mixins/url-parameters';

    export default {
        name: "TaskList",
        props: ['statuses'],
        components: {Modal},
        mixins: [urlParameters],
        data() {
            return {
                isOpen: false,
                dataSet: false,
                selectedFilter: this.urlQueries()['status'] ?? '',
                selectedTaskId: null,
                tasks: []
            }
        },

        created() {
            this.fetch()
        },
        watch: {
            selectedFilter() {
                this.updateUrl('status', this.selectedFilter)
                this.fetch(1)
            }
        },
        methods: {
            async fetch(page) {
                await axios.get(this.url(page)).then(this.refresh)
            },
            url(page) {
                const queries = this.urlQueries()
                if (!page) {
                    page = queries['page'] ?? 1
                }

                let url = `${location.pathname}?page=${page}`

                if (queries['status']) {
                    url = `${location.pathname}?page=${page}&status=${queries['status']}`
                }

                return url

            },
            refresh({data}) {
                this.dataSet = data
                this.tasks = data.data
                window.scrollTo(0, 0)
            },
            confirmDeleting(task) {
                this.isOpen = true
                this.selectedTask = task
            },
            cancelDeleting() {
                this.isOpen = false
                this.selectedTask = null
            },
            async deleteTask() {
                await axios.delete('/tasks/' + this.selectedTask.id)
                    .then(() => {
                        const index = this.tasks.indexOf(this.selectedTask)
                        this.tasks.splice(index, 1)
                        this.selectedTask = null
                        flash('Task has been deleted successfully.')
                    })
                    .catch(() => {
                        flash('Whoops! Something went wrong.', 'error')
                    });

                this.isOpen = false
            }
        }
    }
</script>
